<form [formGroup]="profileForm" (submit)='addUser()' class="text-center offset-2 col-8" style="color: #757575;">

  <div class="form-group">
    <div class="col">
      <!-- Nom -->
      <div >
        <label for="materialRegisterFormFirstName">Nom</label>
        <input type="text" id="materialRegisterFormFirstName" class="form-control" formControlName="nom"
        [ngClass]="{'is-valid': submitted && !profileForm.controls.nom.errors ,'is-invalid': submitted && profileForm.controls.nom.errors}">
        <div class="invalid-feedback d-block" *ngIf="submitted && profileForm.controls.nom.hasError('required')">Vérifiez votre saisie</div>
      </div>
    </div>
    <div class="col">
      <!-- Prenom -->
      <div >
        <label for="materialRegisterFormLastName">Prenom</label>
        <input type="text" id="materialRegisterFormLastName" class="form-control" formControlName="prenom"
        [ngClass]="{'is-valid': submitted && !profileForm.controls.prenom.errors ,'is-invalid': submitted && profileForm.controls.prenom.errors}">
        <div class="invalid-feedback d-block" *ngIf="submitted && profileForm.controls.prenom.hasError('required')">Vérifiez votre saisie
        </div>
             </div>
    </div>
  </div>

  <!-- login -->
  <div >
    <label for="materialRegisterFormEmail">Login</label>
    <input type="text" id="materialRegisterFormEmail" class="form-control" formControlName="login"
    [ngClass]="{'is-valid': submitted && !profileForm.controls.login.errors ,'is-invalid': submitted && profileForm.controls.login.errors}">
    <div class="invalid-feedback d-block" *ngIf="submitted && profileForm.controls.login.hasError('required')">Vérifiez votre saisie</div>
     </div>

  <!-- passwword -->
  <div >
    <label for="materialRegisterFormPassword">Password</label>
    <input type="password" id="materialRegisterFormPassword" class="form-control" formControlName="password" aria-describedby="materialRegisterFormPasswordHelpBlock"
    [ngClass]="{'is-valid': submitted && !profileForm.controls.Password.errors ,'is-invalid': submitted && profileForm.controls.Password.errors}">
    <div class="invalid-feedback d-block" *ngIf="submitted && profileForm.controls.Password.hasError('required')">Vérifiez votre saisie</div>

  </div>


  <!-- Save button -->
  <button type="submit" class="btn btn-info" >Save</button>

</form>
